$namespace: 'naive-vben';
$header-height: 64px;
$iconify-bg-color: #5551;

// =================================
// ==============屏幕断点============
// =================================

$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-2xl: 1600px;
